---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import PopularTours from '../components/PopularTours.astro';
import Pricing from '../components/Pricing.astro';
import WhyChooseUs from '../components/WhyChooseUs.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import FloatingButtons from '../components/FloatingButtons.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Services />
		<PopularTours />
		<Pricing />
		<WhyChooseUs />
		<FAQ />
		<Contact />
	</main>
	<Footer />
	<FloatingButtons />
</Layout>
